body {
    background-image: url('/public/images/bg_login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.card {
    background: #FFFFFFEB;
    gap: 0px;
    border-radius: 40px;
    opacity: 0px;
}

.btn-login {
    background: #C4C4C4;
}
